// Colors

/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;600&family=Lato&family=Poppins:wght@200&display=swap');

$purpleColor: #7e33e0;
$grayColor: #f1f0ff;
$pinkColor: #fb2e86;
$blueColor: #1a0b5b;

// Defaults
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}

.container {
    margin: auto;
    width: 90%;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

button {
    border: 0;
}

// Contact nav

.contact-nav {
    background-color: $purpleColor;
    color: #fff;
    font-family: 'Lato', sans-serif;

    a {
        color: #fff;
    }

    .flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
        gap: 1em;
    }

    .right-nav {
        display: flex;
        gap: 1em;
    }

    .left-nav {
        display: flex;
        gap: 1.5em;
    }
}

// Media query for contact nav
@media (min-width: 778px) {
    .contact-nav {
        .flex {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}


// Main Nav
nav.main-nav {
    .flex {
        justify-content: space-between;
        align-items: center;
        padding: 1em 0;
    }

    .logo h1{
        font-weight: 900;
    }

    .hamburger-menu {
        cursor: pointer;
    }

    .nav-items,
    form {
        display: none;
    }

    form input {
        border: 2px solid $grayColor;
    }

    form button {
        background-color: $pinkColor;
        padding: .5em;
    }
}

// Media query for main nav
@media (min-width: 778px) {
    nav.main-nav {
        .nav-items,
        form {
            display: flex;
        }
    }

    .nav-items {
        gap: 1.5em;
        a {
            font-family: 'Lato', sans-serif;
            color: #000;
            &:hover {
                color: $pinkColor;
            }
        }
        #active {
            color: $pinkColor;
        }
    }

    .hamburger-menu {
        display: none;
    }
}

// Header / Hero section
header {
    position: relative;
    background-color: $grayColor;
    .flex {
        flex-direction: column;
        padding: 3em 0;
    }

    h2 {
        color: #fb2e86;
        font-size: 16px;
        padding: 1em 0;
    }
    h1 {
        font-size: 42px;
        line-height: 1.2em;
    }
    p {
        padding: 1em 0;
    }

    .hero-img {
        position: relative;
        .ellipse-1,
        .ellipse-2 {
            position: absolute;
            z-index: 0;
        }
        .couch {
            position: relative;
            z-index: 10;
        }
    }

    .lamp {
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        display: none;
    }
    .hero-text {
        padding: 0 3em;
    }
}

// Media query for header
@media (min-width: 768px) {
    header {
        .flex {
            flex-direction: row;
            justify-content: space-between;
            gap: 2em;
        }
        .ellipse-2 {
            top: -20px;
            left: 20px;
        }
        .lamp {
            display: block;
        }
    }
}

// Featured products section
.featured {
    .flex {
        padding: 3em 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h2 {
        color: $blueColor;
        padding: 1em;
    }
    .grid-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2em;
    } .indicator span{
        display: inline-block;
        width: 20px;
        border-radius: 10px;
        height: 4px;
        margin: .5em 0;
    } #one {
        background-color: green;
    } #two {
        background-color: $pinkColor;
    } #three {
        background-color: $blueColor;
    }
}

.featured .slider-indicator
    { 
        span {
        margin: 2em 0;
        display: inline-block;
        width: 20px;
        border-radius: 10px;
        height: 4px;
        margin: 3em 0;
        background-color: #fb2e8680;
    }
    #active {
        background-color: #fb2e86;
        width: 30px;
    }
}

// Latest Products
section.latest {
    .flex {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } .product-nav {
        padding-bottom: 3em;
        h2 {
            color: $blueColor;
            padding: 1em 0;
        } .links {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            a {
                font-family: 'Lato', sans-serif;
                color: $blueColor;
                font-weight: 600;
                &:hover {
                    color: $pinkColor;
                }
            } #active {
                color: $pinkColor;
                text-decoration:underline;
            }
        }
    }
}

section.latest {
    .flex-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2em;
        .text {
            padding: 1em 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .tag {
                display: flex;
                gap: 1em;
                .line-through {
                    text-decoration: line-through;
                    color: $pinkColor;
                }
            }
            P {
                color: $blueColor;
                font-weight: 600;
            }
        }
    }
    .thumbnail {
        background-color: $grayColor;
        padding: 2em;
        width: 350px;
        height: 250px;
        img {
            width: 70%;
        }
    }
    .p-bottom {
        padding-bottom: 5em;
    }
}



// Utilities
.flex {
    display: flex;
}

.primary-btn {
    background-color: $pinkColor;
    border: 0;
    color: #fff;
    padding: 1em 2.4em;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    .description {
        padding: 1em;
    }
    h3 {
        color: $pinkColor;
        padding: .7em 0;
    }
    p {
        font-weight: 600;
        color: $blueColor;
        padding: .3em 0;
    }

    .code {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .thumbnail {
        background-color: $grayColor;
        height: 200px;
        padding: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 150px;
        }
    }
}