/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;600&family=Lato&family=Poppins:wght@200&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  line-height: 1.4;
}

.container {
  margin: auto;
  width: 90%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  font-weight: 900;
}

img {
  width: 100%;
}

button {
  border: 0;
}

.hamburger-menu .menu {
  overflow: hidden;
  height: 0;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 60px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger-menu .menu #active {
  color: #fb2e86;
}

.hamburger-menu .menu a {
  color: #000;
  font-weight: bold;
  padding: 1em 0;
}

.hamburger-menu .menu a:hover {
  color: #fb2e86;
}

.contact-nav {
  display: none;
  background-color: #7e33e0;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.contact-nav a {
  color: #fff;
}

.contact-nav .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  gap: 1em;
}

.contact-nav .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.contact-nav .left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5em;
}

@media (min-width: 778px) {
  .contact-nav {
    display: block;
  }
  .contact-nav .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

nav.main-nav {
  position: relative;
}

nav.main-nav .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
}

nav.main-nav .logo h1 {
  font-weight: 900;
}

nav.main-nav .hamburger-menu {
  cursor: pointer;
}

nav.main-nav .nav-items,
nav.main-nav form {
  display: none;
}

nav.main-nav form input {
  border: 2px solid #f1f0ff;
}

nav.main-nav form button {
  background-color: #fb2e86;
  padding: .5em;
}

@media (min-width: 778px) {
  nav.main-nav .nav-items,
  nav.main-nav form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-items {
    gap: 1.5em;
  }
  .nav-items a {
    font-family: 'Lato', sans-serif;
    color: #000;
  }
  .nav-items a:hover {
    color: #fb2e86;
  }
  .nav-items #active {
    color: #fb2e86;
  }
  .hamburger-menu {
    display: none;
  }
}

header {
  position: relative;
  background-color: #f1f0ff;
}

header .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3em 0;
}

header h2 {
  color: #fb2e86;
  font-size: 16px;
  padding: 1em 0;
}

header h1 {
  font-size: 42px;
  line-height: 1.2em;
}

header p {
  padding: 1em 0;
}

header .hero-img {
  position: relative;
}

header .hero-img .ellipse-1,
header .hero-img .ellipse-2 {
  position: absolute;
  z-index: 0;
}

header .hero-img .discount {
  position: absolute;
  z-index: 12;
  width: 100px;
  top: 0;
  right: 0;
}

header .hero-img .couch {
  position: relative;
  z-index: 10;
}

header .lamp {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  display: none;
}

header .hero-text {
  padding-bottom: 3em;
  width: 100%;
}

@media (min-width: 898px) {
  header .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2em;
  }
  header .ellipse-2 {
    top: -20px;
    left: 20px;
  }
  header .lamp {
    display: block;
  }
  header .hero-text {
    width: 70%;
    padding-left: 10%;
  }
}

.featured .flex {
  padding: 3em 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured h2 {
  color: #1a0b5b;
  padding: 1em;
}

.featured .grid-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.featured .card {
  margin: 1em;
}

.featured .indicator span {
  display: inline-block;
  width: 20px;
  border-radius: 10px;
  height: 4px;
  margin: .5em 0;
}

.featured #one {
  background-color: #08D15F;
}

.featured #two {
  background-color: #fb2e86;
}

.featured #three {
  background-color: #1a0b5b;
}

.featured .slider-indicator span {
  margin: 2em 0;
  display: inline-block;
  width: 20px;
  border-radius: 10px;
  height: 4px;
  margin: 3em 0;
  background-color: #fb2e8680;
}

.featured .slider-indicator #active {
  background-color: #fb2e86;
  width: 30px;
}

section.latest .flex {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.latest .product-nav {
  padding-bottom: 3em;
}

section.latest .product-nav h2 {
  color: #1a0b5b;
  padding: 1em 0;
}

section.latest .product-nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.latest .product-nav .links * {
  padding: .5em;
}

section.latest .product-nav .links a {
  font-family: 'Lato', sans-serif;
  color: #1a0b5b;
  font-weight: 600;
}

section.latest .product-nav .links a:hover {
  color: #fb2e86;
}

section.latest .product-nav .links #active {
  color: #fb2e86;
  text-decoration: underline;
}

section.latest .flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

section.latest .flex-wrapper .text {
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.latest .flex-wrapper .text .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

section.latest .flex-wrapper .text .tag .line-through {
  text-decoration: line-through;
  color: #fb2e86;
}

section.latest .flex-wrapper .text P {
  color: #1a0b5b;
  font-weight: 600;
}

section.latest .thumbnail {
  background-color: #f1f0ff;
  padding: 2em;
  width: 270px;
  height: 250px;
}

section.latest .thumbnail img {
  width: 70%;
}

section.latest .p-bottom {
  padding-bottom: 5em;
}

section.shopex {
  text-align: center;
  padding-bottom: 5em;
}

section.shopex h2 {
  color: #1a0b5b;
  padding: 2em 0;
}

section.shopex img {
  width: 50px;
  padding: 2em 0;
}

section.shopex .flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2em;
}

section.shopex .small-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  padding: 2em;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

section.unique-features {
  padding: 3em 0;
  background-color: #f1f0ff;
}

section.unique-features .image {
  position: relative;
}

section.unique-features .image #ellipse {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

section.unique-features .image img {
  position: relative;
  z-index: 1;
}

section.unique-features .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.unique-features .product-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.unique-features .feature-list {
  padding: 1em 0;
}

section.unique-features .bullets {
  margin-right: 1em;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
}

section.unique-features .bullet-1 {
  background-color: #fb2e86;
}

section.unique-features .bullet-2 {
  background-color: #1a0b5b;
}

section.unique-features .bullet-3 {
  background-color: #08D15F;
}

section.unique-features .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em 0;
}

section.unique-features .list p {
  padding-left: 1em;
  width: 100%;
}

section.unique-features form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.unique-features form button {
  margin-right: 2em;
}

section.unique-features h2 {
  color: #1a0b5b;
  text-align: center;
}

@media (min-width: 778px) {
  section.unique-features .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

section.trending {
  text-align: center;
  padding: 3em;
}

section.trending .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.trending h2 {
  color: #1a0b5b;
  font-weight: 900;
  padding-bottom: 1em;
}

section.trending .thumbnail {
  background-color: #f1f0ff;
}

section.trending .card {
  padding: .5em;
}

section.trending .flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  padding-bottom: 2em;
}

section.trending .grid-wrapper {
  margin: 10em 0;
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

section.trending .flex-row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 200px;
  gap: 1em;
}

section.trending .flex-row img {
  width: 4.5em;
  -o-object-fit: contain;
     object-fit: contain;
}

section.trending .flex-row div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  gap: .5em;
  font-size: 12px;
}

section.trending .flex-row .price-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.trending .flex-row .thumbnail {
  background-color: #f1f0ff;
}

section.trending .row.bg-pink {
  background-color: #fb2e870f;
}

section.trending .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f1f0ff;
  padding: 2em;
  font-size: 12px;
}

section.trending .row img {
  width: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
}

section.trending .row a {
  color: #fb2e86;
  font-family: 'Lato', sans-serif;
  text-decoration: underline;
}

@media (min-width: 500px) {
  section.trending .row img {
    width: 8.5rem;
  }
}

@media (min-width: 925px) {
  section.trending .grid-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
  }
  section.trending .row img {
    width: 20em;
  }
}

section.discount-item {
  text-align: center;
  width: 100%;
  padding: 2em 0;
}

section.discount-item h1 {
  color: #1a0b5b;
}

section.discount-item .discount-showcase {
  padding: 1em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  place-items: center;
}

section.discount-item .discount-showcase .fa-check {
  padding-right: 1em;
}

section.discount-item .discount-showcase p {
  padding: 1em 0;
}

section.discount-item .discount-showcase .pink {
  color: #fb2e86;
}

section.discount-item .discount-showcase img {
  width: 100%;
}

section.discount-item .discount-showcase .features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-bottom: 1em;
  text-align: left;
}

section.discount-item .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.discount-item h2, section.discount-item .links {
  text-align: center;
  color: #1a0b5b;
}

section.discount-item .links {
  padding: 1em 0;
}

section.discount-item .links a {
  font-weight: 600;
  padding-left: 25px;
}

section.discount-item .links a:hover {
  color: #fb2e86;
}

section.discount-item a#active {
  color: #fb2e86;
  text-decoration: underline;
}

section.discount-item .right-side {
  margin-top: 2em;
  position: relative;
}

section.discount-item .right-side .ellipse {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 0;
  right: 0;
  width: 70%;
}

section.discount-item .right-side .chair {
  position: relative;
  z-index: 1;
}

@media (min-width: 778px) {
  section.discount-item {
    text-align: left;
    text-align: left;
  }
  section.discount-item .discount-showcase {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    text-align: left;
  }
  section.discount-item .discount-showcase .features {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    text-align: left;
  }
  section.discount-item img {
    width: 10%;
  }
  section.discount-item .right-side {
    margin-top: 0;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.primary-btn {
  background-color: #fb2e86;
  border: 0;
  color: #fff;
  padding: 1em 2.4em;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.card .description {
  padding: 1em;
}

.card h3 {
  color: #fb2e86;
  padding: .7em 0;
}

.card p {
  font-weight: 600;
  color: #1a0b5b;
  padding: .3em 0;
}

.card .code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.card .thumbnail {
  background-color: #f1f0ff;
  height: 200px;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .thumbnail img {
  width: 150px;
}
/*# sourceMappingURL=main.css.map */